* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Neonderthaw';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/neonderthaw/v3/Iure6Yx5-oWVZI0r-17AeZZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Ribeye Marrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ribeyemarrow/v22/GFDsWApshnqMRO2JdtRZ2d0vEAw.ttf) format('truetype');
}
.container .flex-row-space-beatween {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
body.nightMode {
  background-color: #000000;
  color: #ffffff;
}
@keyframes inside_blue_neon {
  0% {
    box-shadow: inset 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
  50% {
    box-shadow: inset 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  100% {
    box-shadow: inset 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
}
@keyframes outside_blue_neon {
  0% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  19% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  20% {
    box-shadow: 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
  21% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  22% {
    box-shadow: 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
  23% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  49% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  50% {
    box-shadow: 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
  51% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  79% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  80% {
    box-shadow: 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
  81% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  82% {
    box-shadow: 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
  83% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  84% {
    box-shadow: 0px 0px 10px 2px rgba(0, 240, 255, 0.5);
  }
  85% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
  100% {
    box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  }
}
body.nightMode .header-menu .header-menu-block.menu-mode-btn button .blur-box {
  position: relative;
  text-shadow: 5px 5px 6px #00f0ff;
}
body.nightMode .header-menu .header-menu-block.menu-mode-btn button .blur-box:before {
  content: '';
  position: absolute;
  box-shadow: inset 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  animation-name: inside_blue_neon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
body.nightMode .header-menu .header-menu-block.menu-mode-btn button .blur-box:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0px;
  box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  animation-name: outside_blue_neon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
body.nightMode .header-menu .header-menu-block.menu-contacts .contacts-block span a {
  color: #ffffff;
}
body.nightMode .header-menu .header-menu-block.menu-sign-up .sign-up-btn {
  background: #ffffff;
  Color: #000000;
}
body.dayMode {
  background-color: #ffffff;
  color: #000000;
}
body.dayMode .header-menu .header-menu-block.menu-sign-up .sign-up-btn {
  background: #000000;
  Color: #ffffff;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}
#app .header-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#app .header-menu .header-menu-block.menu-list ul {
  list-style-type: none;
}
#app .header-menu .header-menu-block.menu-list ul li {
  display: inline-block;
  line-height: 60px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
#app .header-menu .header-menu-block.menu-list ul li a {
  text-decoration: none;
}
#app .header-menu .header-menu-block.menu-list ul li a:hover {
  text-decoration: underline;
}
#app .header-menu .header-menu-block.menu-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
}
#app .header-menu .header-menu-block.menu-contacts .contacts-block {
  display: flex;
}
#app .header-menu .header-menu-block.menu-contacts .contacts-block span {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}
#app .header-menu .header-menu-block.menu-contacts .contacts-block span a {
  display: block;
  line-height: 60px;
}
#app .header-menu .header-menu-block.menu-contacts .contacts-block span ~ span {
  margin-left: 10px;
}
#app .header-menu .header-menu-block.menu-contacts .contacts-block ~ .contacts-block {
  margin-left: 15px;
}
#app .header-menu .header-menu-block.menu-sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
#app .header-menu .header-menu-block.menu-sign-up .sign-up-btn {
  display: block;
  min-width: 130px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  border: none;
  width: 130px;
  height: 40px;
  line-height: 40px;
}
#app .header-menu .header-menu-block.menu-sign-up div ~ div {
  margin-left: 10px;
}
#app .frame_1 .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 35%;
  height: 100%;
  float: left;
}
#app .frame_1 .left-side .large-text-block {
  margin-top: 70px;
}
#app .frame_1 .left-side .board-text {
  margin-top: 60px;
  border-radius: 15px;
  border: 6px solid #00F0FF;
  padding: 10px 10px 10px 30px;
  line-height: 1.5;
  font-size: 24px;
  -webkit-box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
}
#app .frame_1 .left-side .contact-me-block {
  margin-top: 60px;
}
#app .frame_1 .left-side .contact-me-block .contact-me-button {
  font-size: 24px;
  background: transparent;
  border-radius: 15px;
  color: #00F0FF;
  padding: 18px 20px;
  width: 300px;
  border: 6px solid   #00F0FF;
  -webkit-box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
}
#app .frame_1 .left-side .hello-text {
  font-size: 64px;
  font-family: 'Neonderthaw', cursive;
  color: #00F0FF;
  text-shadow: 5px 5px 6px #00f0ff;
  position: relative;
  line-height: 1;
}
#app .frame_1 .left-side .hello-text:before {
  content: '';
  position: absolute;
  -webkit-box-shadow: inset 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  box-shadow: inset 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
}
#app .frame_1 .left-side .hello-text:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0px;
  -webkit-box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
  box-shadow: 0px 0px 50px 22px rgba(0, 240, 255, 0.5);
}
#app .frame_1 .right-side {
  width: 65%;
  float: left;
}
#app .frame_1 .right-side .slider-with-light {
  width: 100%;
  height: 100%;
  position: relative;
}
#app .frame_1 .right-side .slider-with-light .triangle-light {
  display: block;
  min-height: 750px;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#app .frame_1 .right-side .slider-with-light .triangle-light #triangle {
  width: 0;
  height: 0;
  margin-top: -150px;
  border-style: solid;
  border-width: 0 200px 550px 200px;
  border-color: transparent transparent #A6A6A6 transparent;
  transition: .3s;
  line-height: 0px;
  opacity: 50%;
  filter: blur(100px);
}
#app .frame_1 .right-side .slider-with-light .triangle-light .left-light {
  position: absolute;
  width: 475px;
  height: 0px;
  top: 35%;
  left: 0;
  margin-right: 25px;
  transform: rotate(300deg);
  -webkit-box-shadow: 0px 0px 50px 22px rgba(166, 166, 166, 0.5);
}
#app .frame_1 .right-side .slider-with-light .triangle-light .right-light {
  position: absolute;
  width: 475px;
  height: 0px;
  top: 35%;
  left: 40%;
  margin-left: 25px;
  transform: rotate(60deg);
  -webkit-box-shadow: 0px 0px 50px 22px rgba(166, 166, 166, 0.5);
}
